html {
  background-color: rgb(240, 240, 240);
}
body {
  background-color: rgb(240, 240, 240);
}

table {
  border: 2px solid black !important;
}

thead {
  border: 2px solid black;
}
td {
  border: none;
}

.small-button {
  max-width: 8rem;
}

.section-text {
  margin: 0 0 0 2rem;
}
